<style>
    th, td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 14px;
    }
    .clsCell1 {
        background-color: #67A5F8;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 14px;
    }
    .clsCell2 {
        background-color: #B1D1FC;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 14px;
    }
    .clsCell2a {
        background-color: #E3E1D8;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 0px;
        padding-right: 0px;
        border: 1px solid black;
        text-align: left;
        font-size: 14px;
    }
    .clsCell3 {
        background-color: #D9D9D9;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 0px;
        padding-right: 1px;
        border: 1px solid black;
        text-align: right;
        font-size: 14px;
    }
    .clsCell3a {
        background-color: #D9D9D9;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 0px;
        padding-right: 1px;
        border: 1px solid black;
        text-align: left;
        font-size: 14px;
    }
</style>
<body style="margin: 0;padding: 0">
	<table style="border: 1px solid black" width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td class="clsCell1"><b>ID</b></td>
            <td colspan="2" class="clsCell1"><b>Overordnede resultater</b></td>
            <td colspan="4" class="clsCell1"><b>Resultater for underkategorier</b></td>
        </tr>
        <tr>
            <td class="clsCell1"></td>
            <td colspan="2" class="clsCell1">Emisioner</td>
            <td class="clsCell1">Emisioner af veje og stier</td>
            <td class="clsCell1">Emisioner af befæstede ubebyggede arealer</td>
            <td class="clsCell1">Emisioner af grønne ubebyggede arealer</td>
            <td class="clsCell1">Emisioner af træer og buske</td>
        </tr>
        <tr>
            <td class="clsCell2" width="10%"></td>
            <td class="clsCell2" width="20%">[tons CO<sub>2</sub>e]</td>
            <td class="clsCell2" width="20%">[kg CO<sub>2</sub>e/m<sup>2</sup>/år]</td>
            <td class="clsCell2" width="15%">[kg CO<sub>2</sub>e]</td>
            <td class="clsCell2" width="15%">[kg CO<sub>2</sub>e]</td>
            <td class="clsCell2" width="15%">[kg CO<sub>2</sub>e]</td>
            <td class="clsCell2" width="15%">[kg CO<sub>2</sub>e]</td>
        </tr>
		#HTMLTABLEROWS#
	</table>
</body>